<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/min/style.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/yandex/favicon.ico"/>
    <link href="//db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>