<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/min/yandex.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/yandex/favicon.ico"/>
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{{ STATIC_URL }}/js/yandex.js"></script>
</body>
</html>