{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="yandex-auth">
        <div class="yandex-auth__bg-image">
            ...
        </div>
        
        <form class="yandex-auth__form" method="post" autocomplete="on">
            {% csrf_token %}

            <p>
                <input type="email"
                    class="yandex-auth__form__field"
                    name="email"
                    placeholder="Введите логин, почту или телефон"
                    required>
            </p>

            <p>
                <input type="password"
                    class="yandex-auth__form__field"
                    name="password"
                    placeholder="Введите пароль"
                    required
                    pattern="\w{1,}">
            </p
            
            <p>
                <input class="content__auth__form__btn" type="submit" value="Войти">
            </p>
        </form>
    </div>
{% endblock %}