{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="yandex-auth">
        <div class="yandex-auth__bg-image">
            ...
        </div>
        
        <div class="yandex-auth__container">
            <a href="#">Зарегистрироваться</a>
            <img class="yandex-auth__container__logo" src="{{ STATIC_URL }}img/yandex_logo.png">
            <span class="yandex-auth__container__underlogo">
                Войдите, чтобы продолжить
            </span>

            <form class="yandex-auth__container__form" method="post" autocomplete="on">
                {% csrf_token %}

                <p>
                    <input type="email"
                        class="yandex-auth__container__form__field"
                        name="email"
                        placeholder="Введите логин, почту или телефон"
                        required>
                </p>

                <p>
                    <input type="password"
                        class="yandex-auth__container__form__field"
                        name="password"
                        placeholder="Введите пароль"
                        required
                        pattern="\w{1,}">
                </p>
                
                <p>
                    <input class="yandex-auth__container__form__btn" type="submit" value="Войти">
                </p>
            </form>

            <span>© 2001-2020, Яндекс</span>
        <div>
    </div>
{% endblock %}