
@mixin button() {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    padding: 5px 0;
  }


@media screen {
    .yandex-auth {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &__bg-image {
            display: none;

            @media screen and (min-width: 1024px) {
                // also add lower resolution (orient album)

                display: block;
                position: absolute;
                z-index: 1;

                &__image {
                    object-fit: cover;
                    object-position: 100% 0;
                    width: 100vw;
                    height: 100vh;
                }
            }
        }
        
        &__container {
            background-color: white;
            max-width: 360px;
            z-index: 10;
            padding-top: 25px;
            padding-bottom: 25px;
            padding: 25px 15px;
            
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
                padding-bottom: 15px;
                

                &__return {
                    opacity: .3;
                }

                &__return:hover {
                    opacity: .7;
                }
            }
            
            &__logo {
                font-size: 0;
                margin-left: calc(5% + 10px);

                & img {
                    width: 100px;
                    height: 55px;
                }
            }

            &__underlogo {
                font-weight: 400;
                font-size: 16px;

                margin-left: calc(5% + 10px);
                margin-block-start: 0;
                margin-block-end: 30px;
            }
            
            & div {
                width: 90%;
                margin: 0 auto;

                .yandex-auth__container__form {
                    width: 100%;
                    display: inline-block;
                    
                    &__container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
        
                        &__field {
                            padding: 7px 0;
                            border: none;
                            border-bottom: 1px solid rgba(0,0,0,.2);
    
                            box-shadow: none;
                            outline: none;
                        }
    
                        &__field:focus {
                            border: solid #ffdb4d;
                            border-width: 0 0 2px;
                            font-size: 16px;
                        }
    
                        & label {
                            order: -1;
                            transition: all 0.3s ease-in;
                            transform: translateY(25px);
                            pointer-events: none;
                            font-size: 16px;
                            color: #999999;
                        }
    
                        & input:focus + label {
                            transform: translate(-23px, -1px) scale(.85);
                        }
    
                        &__forgot-login {
                            margin-top: 5px;
                        }
                    }
    
                    & p {
                        .yandex-auth__container__form__btn {
                            @include button();
                            background-color: #FFDB4D;
                            border: none;
                            margin-top: 10px;
    
                            &__text {
                                font-weight: 600;
                                padding-left: 30px;
                            }
    
                            &__icon {
                                float: right;
                                padding-right: 10px;
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
    
                .yandex-auth__container__btn-reg {
                    @include button();
                    background-color: transparent;
                    border: 1px solid rgba(0,0,0,.2);
    
                    &__text {
                        font-weight: 600;
                    }
                }
            }
            
            &__social {
                color: rgba(0, 0, 0, 0.4);
                width: 100%;
                padding-top: 25px;

                &__icons {
                    width: 100%;
                    display: flex;
                    align-content: center;
                    float: left;
                    
                    & a {
                        border: 1px solid rgba(0,0,0,.2);
                        padding: 6px;
                        margin-right: 7px;
                    }

                    & a:nth-last-child(-n+3) {
                        display: none;
                    }

                }
            }
        }
        
        &__footer {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            z-index: 10;

            &__help {
                margin-right: 20px;
                color: black;
            }

            &__help:hover, &__help:visited {color: black;}
        }
    }
}