

$boxShadowColor: rgba(0, 0, 0, 0.56);


@mixin button() {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    padding: 5px 0;
  }


@media screen {
    .yandex-auth {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &__bg-image {
            display: none;

            @media screen and (min-width: 1024px) {
                display: block;
                position: absolute;
                z-index: 1;

                &__image {
                    object-fit: cover;
                    object-position: 100% 0;
                    width: 100vw;
                    height: 100vh;
                }
            }
        }
        
        &__container {
            position: relative;
            background-color: white;
            max-width: 360px;
            z-index: 10;
            padding-top: 25px;
            padding-bottom: 25px;
            padding: 25px 15px;
            margin: 0 auto;
            border-radius: 4px;

            @media screen and (min-height: 768px) and (orientation: landscape), screen and (min-height: 1024px) {
                margin: auto auto;
                box-shadow: 0px 0px 34px 0px $boxShadowColor;
            }

            @media screen and (orientation: landscape) {
                box-shadow: 0px 0px 34px 0px $boxShadowColor;
            }
            
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
                padding-bottom: 15px;
                

                &__return {
                    opacity: .3;
                }

                &__return:hover {
                    opacity: .7;
                }
            }
            
            &__logo {
                font-size: 0;
                margin-left: calc(5% + 10px);

                & img {
                    width: 100px;
                    height: 55px;
                }
            }

            &__underlogo {
                font-weight: 400;
                font-size: 16px;

                margin-left: calc(5% + 10px);
                margin-block-start: 0;
                margin-block-end: 30px;
            }

            .loader {
                position: absolute; 
                top: 250px;
                left: 50%;
                margin-left: -20px;
                z-index: 999;
                
                animation: spin 1s linear infinite; 
                width: 40px; 
                height: 40px; 
                border-radius: 55%; 
                border: 3px solid transparent; 
                border-top-color: #FFDB4D;
              
                /* Safari */
                @-webkit-keyframes spin {
                  0% { -webkit-transform: rotate(0deg); }
                  100% { -webkit-transform: rotate(360deg); }
                }
              
                @keyframes spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
              }
            
            & div {
                width: 90%;
                margin: 0 auto;

                .yandex-auth__container__form {
                    width: 100%;
                    display: inline-block;
                    
                    &__container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        position: relative;
        
                        &__field {
                            padding: 7px 0;
                            border: none;
                            border-bottom: 1px solid rgba(0,0,0,.2);
    
                            box-shadow: none;
                            outline: none;
                        }
    
                        &__field:focus {
                            border: solid #ffdb4d;
                            border-width: 0 0 2px;
                        }
    
                        & label {
                            order: -1;
                            transition: all 0.3s ease-in;
                            transform: translateY(25px);
                            pointer-events: none;
                            font-size: 16px;
                            color: #999999;
                        }
    
                        & input:focus + label {
                            transform: translate(-23px, -1px) scale(.85);
                        }
    
                        &__forgot-login {
                            margin-top: 5px;
                        }

                        &__input-img {
                            position: absolute;
                            right: 0;
                            top: 25px;
                            width: 23px;
                            height: 14px;
                            // margin-left: auto;
                            // margin-right: 0;
                            // margin-top: -35px;
                            // padding: 15px 0 15px 15px;
                        }
                    }
    
                    & p {
                        .yandex-auth__container__form__btn {
                            @include button();
                            background-color: #FFDB4D;
                            border: none;
                            margin-top: 10px;
    
                            &__text {
                                font-weight: 600;
                                padding-left: 30px;
                            }
    
                            &__icon {
                                float: right;
                                padding-right: 10px;
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
    
                .yandex-auth__container__btn-reg {
                    @include button();
                    background-color: transparent;
                    border: 1px solid rgba(0,0,0,.2);
    
                    &__text {
                        font-weight: 600;
                    }
                }
            }
            
            &__social {
                color: rgba(0, 0, 0, 0.4);
                width: 100%;
                padding-top: 25px;

                &__icons {
                    width: 100%;
                    display: flex;
                    align-content: center;
                    float: left;
                    
                    & a {
                        border: 1px solid rgba(0,0,0,.2);
                        padding: 6px;
                        margin-right: 7px;
                    }

                    & a:nth-last-child(-n+3) {
                        display: none;
                    }

                }
            }
        }
        
        &__footer {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            z-index: 10;

            @media screen and (orientation: landscape) {
                margin-top: 30px;
            }

            @media screen and (min-width: 1024px) {
                color: white;
            }

            &__help {
                margin-right: 20px;
                color: black;
            }

            &__help:hover, &__help:visited {
                color: black;

                @media screen and (min-width: 1024px) {
                    color: white;
                }
            }
        }
    }
}