@import "normalize.scss";
@import "yandex/fake_auth.scss";


* {
    font-family: "YS Text Regular";
    font-weight: 500;
    font-size: 14px;
  }

*:focus {
    outline: none;
}


html, body{
  height: 100%;
  overflow: hidden;

  @media screen and (max-height: 767px) and (orientation: landscape) {
    overflow: auto;
  }
}

a {
  text-decoration: none;
  font-size: 15px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  
}

a, a:hover, a:visited {
  color: #386cbee3;
}
